.presente {
  color: green;
  font-weight: bold;
}

.ausente {
  color: red;
  font-weight: bold;
}

ion-card {
  margin: 10px;
  border-radius: 8px;
}

ion-card-header {
  background-color: #000;
  cursor: pointer;
}

ion-card-content {
  background-color: #000;
}

ion-item {
  --background: #e7f4ff;
  border-radius: 5px;
  margin-bottom: 5px;
}
