<ion-header>
  <ion-toolbar>
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-button (click)="retorno()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let asignatura of asignaturas; let i = index">
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <p>Sección: {{ asignatura.seccion }}</p>
        </ion-item>
        
        <!-- Botón específico para cada asignatura -->
        <ion-button expand="block" (click)="toggleQR(i)">
          {{ asignatura.mostrarImagen ? 'Cerrar QR' : 'Generar QR' }}
        </ion-button>

        <!-- Generar el QR personalizado con la sección como dato -->
        <qrcode *ngIf="asignatura.mostrarImagen" [qrdata]="asignatura.textoQR" [width]="300"></qrcode>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
