<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="retorno()">Volver al Menú</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let asignatura of asignaturas; let i = index" (click)="toggleAsistencia(i)">
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sección: {{ asignatura.seccion }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
