<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formularioClave" (ngSubmit)="cambiarClave()">
    <ion-item>
      <ion-label position="floating">Clave Antigua</ion-label>
      <ion-input type="password" formControlName="claveAntigua"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Clave</ion-label>
      <ion-input type="password" formControlName="nuevaClave"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Nueva Clave</ion-label>
      <ion-input type="password" formControlName="confirmarClave"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!formularioClave.valid">Cambiar Contraseña</ion-button>
  </form>

  <br>
<ion-button (click)="retorno()" expand="block" fill="clear" shape="round">
  Volver al login
</ion-button>

<br>

<ion-button (click)="retorno2()" expand="block" fill="clear" shape="round">
  Volver al menu
</ion-button>

</ion-content>
