<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formularioClave" (ngSubmit)="cambiarClave()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Clave</ion-label>
      <ion-input type="password" formControlName="nuevaClave"></ion-input>
    </ion-item>

    <ion-text color="warning" *ngIf="formularioClave.get('nuevaClave')?.invalid && formularioClave.get('nuevaClave')?.touched">
      <p *ngIf="formularioClave.get('nuevaClave')?.errors?.['required']">La nueva clave es requerida.</p>
      <p *ngIf="formularioClave.get('nuevaClave')?.errors?.['minlength']">La nueva clave debe tener al menos 6 caracteres.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Confirmar Nueva Clave</ion-label>
      <ion-input type="password" formControlName="confirmarClave"></ion-input>
    </ion-item>

    <ion-text color="warning" *ngIf="formularioClave.hasError('noCoincide') && formularioClave.get('confirmarClave')?.touched">
      <p>Las contraseñas no coinciden.</p>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="!formularioClave.valid">
      Cambiar Contraseña
    </ion-button>
    <br>
    <ion-button (click)="retorno()" expand="block" fill="clear" shape="round">
      Regresar al Login
    </ion-button>
  </form>
</ion-content>
